<!--
Kaitlin Wan
SoftDev1 pd6
K #24: A RESTful Journey Skyward
W 2018-11-14
-->
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="static/mystyle.css">
</head>

<body>

<title>Logged in!</title>
<center>

Welcome to the SQUAD!
<br><br><br>
This is a video for you to watch! <br>
<iframe width="560" height="315" src="{{img}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br><br>

Here is ANOTHER image: <br>
<img src = '{{ coolpic }}' width = "560" height = "315"><br>
Some INFO: <br>

{{imgInfo}} <br>
IMG ID = {{id}}

<hr>
<h2> <center> MUSIXMATCH </h2>
<h2> Newest Implementation! </h2>

<h3>Search ANY song!</h3>
    <form action="/">
      <input type="text" name="name" placeholder="name of artist">
      <input type="text" name="song" placeholder="song title">
      <br><br>
      <input type="submit" value="Submit!" />
    </form>

    {{ lyrics }}


</center>


</center>

</body>
</html>
